@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&family=Roboto:ital,wght@0,300;1,100&display=swap');
body{
    background-image: linear-gradient(to right, rgb(94, 94, 163), rgb(49, 49, 206));
}
*{
    color: #fff;
}
#update{
    display: none;
}